body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/GV3A2963 - Community Photo-min.jpg");
  min-height: 95%;
  margin-top: 59px;
}

.bgimg-3 {
  background-position: center;
  background-size: cover;
  background-image: url("/GV3A2674-min.jpeg");
  min-height: 1000px;
  display: flex;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("/jeffcity.jpg");
  min-height: 1000px;
  display: flex;
}

.logo {
  max-width: 126px;
}

img {
  background-position: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-blue2 {
  background-color: #2759a9 !important;
  color: white !important;
}

.w3-blue {
  background-color: white !important;
  color: #2759a9 !important;
}

.w3-button:hover {
  color: red !important;
  background-color: white !important;
}

.w3-button2:hover {
  color: #2759a9 !important;
  background-color: white !important;
}

.opaque-background {
  background-color: black;
  opacity: .7;
  color: white;
  max-width: 1000px;
}

.icons {
  color: #2759a9;
}

.w3-xxlarge {
  line-height: 35px;
}

.w3-jumbo {
  line-height: 70px;
}

@media (max-width: 828px) {
  .w3-hide-small2 {
    display: none !important;
  }
}

@media (max-width: 992px) and (min-width: 721px) {
  .hide-medium2 {
    display: none !important;
  }
}

@media (min-width: 829px) {
  .w3-hide-large2 {
    display: none !important;
  }
}

@media (min-width: 601px) {

  .w3-col.m3,
  .w3-fifth {
    width: 19.9999999999% !important;
  }
}

.w3-fifth {
  float: left;
  width: 100%;
}

.quarter-container {
  background-color: white;
  opacity: .8;
  padding-top: 15px !important;
  height: 330px;
}

.mySlides {
  display: none;
}

.w3-display-right2 {
  position: absolute;
  top: 36%;
  right: 33%;
}

.w3-display-left2 {
  position: absolute;
  top: 36%;
  left: 33%;
}

.arrow {
  font-size: 40px;
}

.donate {
  background-color: #2759a9;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: white;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 1;
}

.donate-link {
  color: red;
  text-decoration: underline;
}

.donate-link:hover {
  color: blue !important;
}

/* .twitter-timeline {
height: 500px !important;
max-width: 50% !important;
} */

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    top: 50%;
    width: 100%;
    margin-top: -30px;
    padding: 20px;
    color: #2759a9;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }