body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/Websitephoto-01.png");
  min-height: 95%;
  margin-top: 59px;
}

.new-image {
  width: 100%;
  height: 677px;
  background-image: url("/Websitephoto-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.new-image2 {
  width: 100%;
  height: 650px;
  background-image: url("/Websitephoto-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 500px) {
  .new-image2 {
    width: 100%;
    height: 250px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 600px) and (min-width: 501px) {
  .new-image2 {
    width: 100%;
    height: 260px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 700px) and (min-width: 601px) {
  .new-image2 {
    width: 100%;
    height: 300px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) and (min-width: 701px) {
  .new-image2 {
    width: 100%;
    height: 360px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 900px) and (min-width: 801px) {
  .new-image2 {
    width: 100%;
    height: 395px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1000px) and (min-width: 901px) {
  .new-image2 {
    width: 100%;
    height: 420px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1100px) and (min-width: 1001px) {
  .new-image2 {
    width: 100%;
    height: 500px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1200px) and (min-width: 1101px) {
  .new-image2 {
    width: 100%;
    height: 550px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1300px) and (min-width: 1201px) {
  .new-image2 {
    width: 100%;
    height: 600px;
    background-image: url("/Websitephoto-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bgimg-3 {
  background-position: center;
  background-size: cover;
  background-image: url("/GV3A2674-min.jpeg");
  min-height: 1000px;
  display: flex;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("/jeffcity.jpg");
  min-height: 1000px;
  display: flex;
}

.logo {
  max-width: 126px;
}

img {
  background-position: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-blue2 {
  background-color: #2759a9 !important;
  color: white !important;
}

.w3-blue {
  background-color: white !important;
  color: #2759a9 !important;
}

.w3-button:hover {
  color: red !important;
  background-color: white !important;
}

.w3-button2:hover {
  color: #2759a9 !important;
  background-color: white !important;
}

.opaque-background {
  background-color: black;
  opacity: .7;
  color: white;
  max-width: 1000px;
}

.icons {
  color: #2759a9;
}

.w3-xxlarge {
  line-height: 35px;
}

.w3-jumbo {
  line-height: 70px;
}

@media (max-width: 1160px) {
  .w3-hide-small2 {
    display: none !important;
  }
}

@media (max-width: 992px) and (min-width: 721px) {
  .hide-medium2 {
    display: none !important;
  }
}

@media (min-width: 1161px) {
  .w3-hide-large2 {
    display: none !important;
  }
}

@media (min-width: 601px) {

  .w3-col.m3,
  .w3-fifth {
    width: 19.9999999999% !important;
  }
}

.w3-fifth {
  float: left;
  width: 100%;
}

.quarter-container {
  background-color: white;
  opacity: .8;
  padding-top: 15px !important;
  height: 330px;
}

.mySlides {
  display: none;
}

.w3-display-right2 {
  position: absolute;
  top: 36%;
  right: 33%;
}

.w3-display-left2 {
  position: absolute;
  top: 36%;
  left: 33%;
}

.arrow {
  font-size: 40px;
}

.donate {
  background-color: #2759a9;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: white;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 1;
}

.donate-link {
  color: red;
  text-decoration: underline;
}

.donate-link:hover {
  color: blue !important;
}

/* .twitter-timeline {
height: 500px !important;
max-width: 50% !important;
} */

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    top: 50%;
    width: 100%;
    margin-top: -30px;
    padding: 20px;
    color: #2759a9;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .map-responsive{
    /* overflow:hidden; */
    /* padding-bottom:56.25%; */
    /* position:relative; */
    /* height:0; */
}
.map-responsive iframe{
    /* left:0;
    top:0; */
    /* height:100%;
    width:100%;
    position:absolute; */
}

/* ENDORSEMENTS */
.perck {
  display: flex;
  width: 16.66%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-space {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Open Sans',sans-serif;
}

.about-us-circle.matt {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5e97883d57a3714eb4cc30b6_mattsasin.jpg);
}

.about-us-circle.quade {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a999dcfe39ce0680fcf9a_88175463_3567550079986612_7854031339270438912_o.jpg);
}

.about-us-circle.rfs {
  background-image:url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5edbf7f8f826cfeecf9dd58a_RFS%20LOGO.jpg);
}

.about-us-circle.uaw {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f1652585e19a960876d4a32_UAW%20blue_yellow.png)
}

.about-us-circle.gkcwpc {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f165087e8da1334a034ac95_16143806_1153895601397922_5571805606793856229_o.png);
}

.about-us-circle.naral {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5ef9567a1f17de51c44e8944_naral.png);
}

.about-us-circle.iaff {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5edbf9d6bca2fa0d04912883_IAFF%20LOGO.png);
}

.about-us-circle.promo {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f164b1a4985dcf6533de8be_PROMO%20PAC%20endorsement%20seal.png);
}

.about-us-circle.aflcio {
  background-image:url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f1651d9e8da134dd834aff3_mo_afl-cio2logo_0.png);
}

.about-us-circle.sierra {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a969e53ac667cfed3c9be_Sierra%20Club%20Endorsement%20Seal_Color-1.png);
}

.about-us-circle.momsdemand {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a96b55bfdfb38b09e0b0f_GSC-2020.png);
}

.about-us-circle.pp {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f1657d6b891a80cf492d551_pp.png);
  background-size: contain;
}

.about-us-circle.ibot {
  background-image:url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a96c15b8c59c381ce5193_Teamsters%20Logo.PNG);
}

.about-us-circle.orkc {
  border-style: solid;
  border-color: rgba(25,36,78,.2);
  background-image:url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5ef95e4d6bc0136352c71771_OurRevolution.png);
  background-size: contain;
}

.about-us-circle.blet {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5edbfc582fc9543fd8035025_BLET%20LOGO.png);
  background-size: contain;
  background-attachment: scroll;
}

.about-us-circle.unitedsteel {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a96c0342ed73917db35ed_Steelworkers%20Logo.png);
  background-position: 50% 50%;
}

.about-us-circle.cwoa {
  background-image:url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a96a4d52edcb2881923b9_cwa_-_table_sponsor.png);
}

.about-us-circle.ll264 {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f165653cab089759294bee2_133929_178409642193953_1205685_o.jpg);
}

.about-us-circle.gkcbctc {
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5f4a98e30bb66a0a09659a29_Greater-KC-Building-Trades-Logo-Color-1-300x142.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about-us-circle {
  width: 88px;
  height: 88px;
  border-style: none;
  border-width: 1px;
  border-color: #19244e;
  border-radius: 50%;
  background-image: url(https://assets.website-files.com/5e87d941bcf6e1a7a3be7841/5e97883d57a3714eb4cc30b6_mattsasin.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .2s ease;
}

.top-margin._15-pixels {
  margin-top: 15px;
  color: #19244e;
  font-weight: 700;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.endorsements {
  text-decoration: none;
  text-align: center;
}

.flex-space, .footer-column-1, .footer-flex {
  -webkit-box-orient: horizontal;
}